name: Build and Push Docker Image

on:
  push:
    paths:
      - 'src/**'
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build and push Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract commit hash
        id: vars
        run: echo "commit_hash=$(echo ${{ github.sha }} | cut -c1-8)" >> $GITHUB_ENV

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/nbank-tests:${{ env.commit_hash }} .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/nbank-tests:${{ env.commit_hash }} ${{ secrets.DOCKERHUB_USERNAME }}/nbank-tests:latest

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/nbank-tests:${{ env.commit_hash }}
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/nbank-tests:latest
